version: 'v$(package_version).{build}'
skip_non_tags: true
image: Visual Studio 2017
configuration: Release

environment:
  package_version: '0.9.0'
  
  git_access_token:
    secure: kFNrVQrkAApceG8qiKcsgXAFx50qkY4Lfl2OLczSxwhEYbHh78AdPqyBn3P/JEjo
  git_email: nzsmartie@gmail.com
  git_user: NZSmartie

# Patch package version to all match
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(package_version).$(APPVEYOR_BUILD_NUMBER)'
  package_version: '$(package_version)'

before_build:
- cmd: nuget restore
build:
  publish_nuget: true
  publish_nuget_symbols: true
  verbosity: minimal
after_build:
- ps: |
      Push-Location ./docs
      ./build.ps1 -Deploy
      Pop-Location

test: off
deploy:
- provider: NuGet
  api_key:
    secure: DekheHagJ0HXHdNxDLa2nSgRCGehoouFpfzFawMEjCRZcn3dzWvyEDGV//KU+RvF
  on:
    appveyor_repo_tag: true
